html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
html,
body,
#root,
.App,
.layoutHeight {
  height: 100%;
  overflow-x: hidden;
}
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Hahmlet", serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a,
a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.main {
  width: 100%;
  height: 100%;
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}
.controlPanel {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 100%;
  padding: 3rem 0 6rem 25rem;
  border-bottom: 1px solid #d3d3d3;

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    z-index: 1;
    border-right: 1px solid #d3d3d3;
  }

  .content {
    padding: 0 10px;
  }
}

.dashboardLayout {
  height: calc(100% - 6.5rem - 5.8rem);
}
