.product {
  width: 33%;
  padding: 0 1rem;
  margin: 0 auto 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;

    img {
      max-height: 30rem;
      max-width: 30rem;
      border-radius: 30px;
      display: block;
      width: 100%;
      margin: 0;
    }
  }

  .details {
    max-width: 30rem;
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;

    ul,
    ul li {
      padding: 0;
      margin: 0;
    }
    ul {
      li {
        display: block;
        width: 100%;
        margin: 0.5rem 0 0.5rem;
        list-style-type: none;
        text-align: left;
        a {
          color: black;
        }
        .name {
          margin: 0 3rem;
          font-size: 3rem;
          line-height: 1;
          font-weight: 300;
        }
        .price {
          font-size: 2rem;
          line-height: 1;
          font-weight: 300;
        }
        .addToCart {
          margin: 2rem 0 0 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .product {
    width: 50%;
  }
}
@media only screen and (max-width: 560px) {
  .product {
    width: 100%;
  }
}
